<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ title }}</title>
    <link rel=icon       type=image/x-icon href="{{ static+favicon-icon }}">
    <link rel=stylesheet type=text/css     href="{{ static+style-css }}">
    <style>
		body { background-color: powderblue; 
		       font-family: arial, helvetica, sans-serif;
	               font-size: small; }
		h1   { color: blue; }
		p    { color: red;  }
			
	 </style>
    </head>
    <body>
        <form action="?=" method="GET">
          regex: <input type="text" name="n."></input>
          <input type="submit" value="Submit">
        </form>

        <div class=paragraph>
            <h1>{{ title }}</h1>
            {% block data %}i<p class="info">No data found</p>{% endblock %}
            </div>
        </body>
    </html>
