<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ title }}</title>
    <link rel=icon       type=image/x-icon href="{{ static+favicon-icon }}">
    <link rel=stylesheet type=text/css     href="{{ static+style-css }}">
    <style>
      svg { z-index:-1;position:fixed;top:0;left:0;height:100%;width:100%;bottom:0;right:0;font-size:large;}

                svg text:hover { color:white; }
		body { margin-top:92px;
                       background-color: darkblue; 
		       font-family: arial, helvetica, sans-serif;
	               font-size: small;
                       color: white; }
		h2   { color: #f88; }
		a    { text-decoration: none;color: yellow; }
		p,h4 { color: lightgreen;  }
		.e1 { z-index:1; }
		.e2 { z-index:2; }
	 </style>
    </head>
    <body>
        <div class="e1" style="margin:0;position:fixed;width:100%;height:90px;top:0;background-color:darkblue;opacity:1;">
        <h4>Server version: {{ server.release }}{% if result-matches %}, {{ result-matches }} hits{% endif %} <a href=/?st=at>statistics</a> <a href=/?he=lp>help</a> </h4>
        <form action="?=" method="GET">
          nodes: <input type="text" name="n."></input>
          <input type="submit" value="Submit">
        </form>
        </div>
        <h1>{{ result-class }}</h1>
{% block data %}<p class="info">No data found</p>{% endblock %}


<svg xmlns="http://www.w3.org/2000/svg" style="opacity:1;position:fixed;">

  <defs>
    <filter id="blur" x="0" y="0">
      <feGaussianBlur in="SourceGraphic" stdDeviation="3" />
    </filter>
    <filter id="tlur" x="0" y="0">
      <feGaussianBlur in="SourceGraphic" stdDeviation="1" />
    </filter>
  </defs>

  <rect width="100%" height="90" class="e1" style="fill:#008;stroke-width:0;stroke:#fff;opacity:1;"/>
<g transform="translate(250,25) rotate(0)">
<!--a href="/?st=at"><text x="0" y="0" fill="yellow" transform="rotate(30 0,0)">Statistics</text></a>
<a href="/?he=lp"><text transform="translate(32,0) rotate(30 0,0)" fill="yellow">Help</text></a-->
<text transform="translate(32,0) rotate(30 0,0)" fill="yellow">odb</text>
</g>

<g transform="translate(5,95) rotate(0)" dominant-baseline="middle" text-anchor="middle">
  
  <rect       width="23%" height="10%" filter="url(#blur)" style="fill:#028;fill-opacity:1;stroke-width:1;stroke:#888"/>
  <rect x=25% width="23%" height="10%" filter="url(#blur)" style="fill:#028;fill-opacity:1;stroke-width:1;stroke:#888"/>
  <rect x=50% width="23%" height="10%" filter="url(#blur)" style="fill:#028;fill-opacity:1;stroke-width:1;stroke:#888"/>
  <rect x=75% width="23%" height="10%" filter="url(#blur)" style="fill:#028;fill-opacity:1;stroke-width:1;stroke:#888"/>
  <text x=13% y=6% filter="url(#tlur)" fill="#058">N({{ Node-hits }})</text>
  <text x=38% y=6% filter="url(#tlur)" fill="#058">P({{ Property-hits }})</text>
  <text x=63% y=6% filter="url(#tlur)" fill="#058">L({% if link-to %}{{ link-to-hits }}{% endif %},{% if link-from %}{{ link-from-hits }}{% endif %})</text>
  <text x=88% y=6% filter="url(#tlur)" fill="#058">R({{ Reason-hits }})</text>
  
</g>
<!--style><![CDATA[
text{
    font: bold 24px Verdana, Helvetica, Arial, sans-serif;
}
]]></style -->

</svg>

<svg viewBox="5 2 303 380" style="position:fixed; top:24%; left:35%; width:70%; height:75%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g>
    <ellipse style="fill: #ffffff" cx="58.6832" cy="33.1567" rx="31.5797" ry="16.7647"/>
    <ellipse style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" cx="58.6832" cy="33.1567" rx="31.5797" ry="16.7647"/>
    <text font-size="6.77333" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="58.6832" y="35.2233">
      <tspan x="58.6832" y="35.2233">Property</tspan>
    </text>
  </g>
  <g>
    <ellipse style="fill: #ffffff" cx="139.702" cy="96.8735" rx="69.9996" ry="48.0812"/>
    <ellipse style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #000000" cx="139.702" cy="96.8735" rx="69.9996" ry="48.0812"/>
    <text font-size="18.0622" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:700" x="139.702" y="102.385">
      <tspan x="139.702" y="102.385">Node{% if Node-hits %}({{ Node-hits }}){% endif %}</tspan>
    </text>
  </g>
  <text font-size="12.8" style="fill: #000000;text-anchor:start;font-family:sans-serif;font-style:normal;font-weight:normal" x="92.8575" y="165.587">
    <tspan x="92.8575" y="165.587"></tspan>
  </text>
  <g>
    <ellipse style="fill: #ffffff" cx="53.8742" cy="152.047" rx="31.5797" ry="16.7647"/>
    <ellipse style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" cx="53.8742" cy="152.047" rx="31.5797" ry="16.7647"/>
    <text font-size="6.77333" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="53.8742" y="154.113">
      <tspan x="53.8742" y="154.113">Property</tspan>
    </text>
  </g>
  <g>
    <ellipse style="fill: #ffffff" cx="264.356" cy="51.5983" rx="31.5797" ry="16.7647"/>
    <ellipse style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" cx="264.356" cy="51.5983" rx="31.5797" ry="16.7647"/>
    <text font-size="6.77333" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="264.356" y="53.6649">
      <tspan x="264.356" y="53.6649">Property</tspan>
    </text>
  </g>
  <g>
    <ellipse style="fill: #ffffff" cx="162.559" cy="19.6573" rx="31.5797" ry="16.7647"/>
    <ellipse style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" cx="162.559" cy="19.6573" rx="31.5797" ry="16.7647"/>
    <text font-size="6.77333" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="162.559" y="21.7239">
      <tspan x="162.559" y="21.7239">Property</tspan>
    </text>
  </g>
{% if link-to-hits %}  <g>
    <ellipse style="fill: #ffffff" cx="76.6116" cy="332.683" rx="69.9996" ry="48.0812"/>
    <ellipse style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #888888" cx="76.6116" cy="332.683" rx="69.9996" ry="48.0812"/>
    <text font-size="18.0622" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:700" x="76.6116" y="338.194">
      <tspan x="76.6116" y="338.194">Node({{ link-to-hits }})</tspan>
    </text>
  </g>
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #008800" x1="126.79" y1="145.132" x2="92.0394" y2="275.019"/>
    <polygon style="fill: #008800" points="90.1009,282.264 87.8554,271.312 92.0394,275.019 97.5156,273.896 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #008800" points="90.1009,282.264 87.8554,271.312 92.0394,275.019 97.5156,273.896 "/>
  </g>{% endif %} 
{% if Reason-hits %}  <g>
    <path style="fill: #ffffff" d="M 30.1571 235.161 L 93.8928,235.161 C 102.693,235.161 109.827,239.916 109.827,245.782 C 109.827,251.647 102.693,256.402 93.8928,256.402 L 30.1571,256.402 C 21.357,256.402 14.2232,251.647 14.2232,245.782 C 14.2232,239.916 21.357,235.161 30.1571,235.161z"/>
    <path style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #000000" d="M 30.1571 235.161 L 93.8928,235.161 C 102.693,235.161 109.827,239.916 109.827,245.782 C 109.827,251.647 102.693,256.402 93.8928,256.402 L 30.1571,256.402 C 21.357,256.402 14.2232,251.647 14.2232,245.782 C 14.2232,239.916 21.357,235.161 30.1571,235.161"/>
    <text font-size="11.2889" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="62.0249" y="249.309">
      <tspan x="62.0249" y="249.309">Reason({{ Reason-hits }})</tspan>
    </text>
  </g>{% endif %}
{% if link-to-hits %}  <g>
    <path style="fill: #ffffff" d="M 72.6009 218.388 L 137.193,218.388 C 146.111,218.388 153.341,222.666 153.341,227.944 C 153.341,233.221 146.111,237.499 137.193,237.499 L 72.6009,237.499 C 63.6826,237.499 56.4529,233.221 56.4529,227.944 C 56.4529,222.666 63.6826,218.388 72.6009,218.388z"/>
    <path style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #000000" d="M 72.6009 218.388 L 137.193,218.388 C 146.111,218.388 153.341,222.666 153.341,227.944 C 153.341,233.221 146.111,237.499 137.193,237.499 L 72.6009,237.499 C 63.6826,237.499 56.4529,233.221 56.4529,227.944 C 56.4529,222.666 63.6826,218.388 72.6009,218.388"/>
    <text font-size="11.2889" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="104.897" y="231.471">
      <tspan x="104.897" y="231.471">Link-To</tspan>
    </text>
  </g>{% endif %}
{% if link-from-hits %}  <g>
    <ellipse style="fill: #ffffff" cx="236.678" cy="266.536" rx="69.9996" ry="48.0812"/>
    <ellipse style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #888888" cx="236.678" cy="266.536" rx="69.9996" ry="48.0812"/>
    <text font-size="18.0622" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:700" x="236.678" y="272.047">
      <tspan x="236.678" y="272.047">Node({{ link-from-hits }})</tspan>
    </text>
  </g>
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #008800" x1="210.605" y1="220.92" x2="170.606" y2="150.942"/>
    <polygon style="fill: #008800" points="166.884,144.43 176.188,150.631 170.606,150.942 167.506,155.593 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 2; stroke: #008800" points="166.884,144.43 176.188,150.631 170.606,150.942 167.506,155.593 "/>
  </g>
  <g>
    <path style="fill: #ffffff" d="M 157.008 174.479 L 221.601,174.479 C 230.519,174.479 237.749,178.757 237.749,184.035 C 237.749,189.312 230.519,193.59 221.601,193.59 L 157.008,193.59 C 148.09,193.59 140.86,189.312 140.86,184.035 C 140.86,178.757 148.09,174.479 157.008,174.479z"/>
    <path style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #000000" d="M 157.008 174.479 L 221.601,174.479 C 230.519,174.479 237.749,178.757 237.749,184.035 C 237.749,189.312 230.519,193.59 221.601,193.59 L 157.008,193.59 C 148.09,193.59 140.86,189.312 140.86,184.035 C 140.86,178.757 148.09,174.479 157.008,174.479"/>
    <text font-size="11.2889" style="fill: #000000;text-anchor:middle;font-family:sans-serif;font-style:normal;font-weight:normal" x="189.304" y="187.562">
      <tspan x="189.304" y="187.562">Link-From</tspan>
    </text>
  </g>{% endif %}
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" x1="87.9034" y1="130.171" x2="78.1525" y2="136.44"/>
    <polygon style="fill: #888888" points="77.071,134.757 74.7878,138.603 79.234,138.122 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" points="77.071,134.757 74.7878,138.603 79.234,138.122 "/>
  </g>
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" x1="93.4958" y1="60.535" x2="80.2843" y2="50.1449"/>
    <polygon style="fill: #888888" points="81.5207,48.5728 77.1402,47.6721 79.048,51.7169 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" points="81.5207,48.5728 77.1402,47.6721 79.048,51.7169 "/>
  </g>
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" x1="153.935" y1="48.7924" x2="156.259" y2="40.9386"/>
    <polygon style="fill: #888888" points="158.177,41.5063 157.395,37.1031 154.342,40.3709 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" points="158.177,41.5063 157.395,37.1031 154.342,40.3709 "/>
  </g>
  <g>
    <line style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" x1="202.523" y1="74.0563" x2="233.71" y2="62.729"/>
    <polygon style="fill: #888888" points="234.393,64.6088 237.47,61.3634 233.027,60.8491 "/>
    <polygon style="fill: none; fill-opacity:0; stroke-width: 1; stroke: #888888" points="234.393,64.6088 237.47,61.3634 233.027,60.8491 "/>
  </g>
  <text font-size="14" style="fill: #ffffff;text-anchor:start;font-family:sans-serif;font-style:normal;font-weight:700" x="218.95" y="118.852">
    <tspan x="218.95" y="134.852">{% if Property-hits %}{{ Property-hits }} {% endif %}Properties</tspan>
  </text>
</svg>
        </body>
    </html>

