{% extends "base.html" %}

{% block data %}
        <p>{class} : <a href="{object-link}">{object}</a></p>
        <p><ul>
{% for dep in deps %}
            <li><a href="{dep-query}">{{dep}}</a></li>{% endfor deps %}
{% endfor deps %}
        </ul></p>
{% endblock %}

<!--
https://docs.djangoproject.com/en/1.7/topics/templates/

{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<h1>{{ section.title }}</h1>

{% for story in story_list %}
<h2>
  <a href="{{ story.get_absolute_url }}">
    {{ story.headline|upper }}
  </a>
</h2>
<p>{{ story.tease|truncatewords:"100" }}</p>
{% endfor %}
{% endblock %}
-->
