{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block data %}<h2>{{ Node }}</h2>

{% if link-to %}
<h3>Links to other nodes ({{ link-to-hits }})</h3>
<!--div name="paginator">
<a href="/?ni={{ Node.id }}&page={{ link-to-pages.first }},{{ link-to-pages.lppg }}">First</a>
<a href="/?ni={{ Node.id }}&page={{ link-to-pages.prev  }},{{ link-to-pages.lppg }}">Prev</a>
<a href="/?ni={{ Node.id }}&page={{ link-to-pages.next  }},{{ link-to-pages.lppg }}">Next</a>
<a href="/?ni={{ Node.id }}&page={{ link-to-pages.last  }},{{ link-to-pages.lppg }}">Last</a>
</div -->
<ul>{% for link-to in links-to %}
    <li><a href="/?ri={{ link-to.rsn-id }}">{{ link-to.rsn }}</a>: <a href="/?ni={{ link-to.id }}">{{ link-to }}</a></li>{% endfor %}
</ul>{% endif %}

{% if link-from %}
<h3>Links from other nodes ({{ link-from-hits }})</h3>
<ul>{% for link-from in links-from %}
    <li><a href="/?ni={{ link-from.id }}">{{ link-from }}</a></li>{% endfor %}
</ul>{% endif %}

{% if Property %}
<h3>Properties ({{ Property-hits }})</h3>
<ul>{% for Property in properties %}
    <li><a href="/?pi={{ Property.id }}">{{ Property }}</a></li>{% endfor %}
</ul>{% endif %}

{% if Atom %}
<h3>Atoms ({{ Atom-hits }})</h3>
<ul>{% for Atom in atoms %}
    <li><a href="/?ai={{ Atom.id }}">{{ Atom }}</a></li>{% endfor %}
</ul>{% endif %}

{% endblock %}

        <select id="opAction" name="actionSel">
            <option value="l">link</option>
        </select>
        <select id="opThingSel" name="typeSel">
            <option value="N">node by name</option>
            <option value="P">property by name</option>
            <option value="A">atom by name</option>
            <option value="n">node by id</option>
            <option value="p">property by id</option>
            <option value="a">atom by id</option>
        </select>
        <form onsubmit="return linkToThing(this)" id="linkForm" class="im" action="" method="GET">
          <input type="text" name="thingToLink" value=""></input>
          <input type="submit" value="Submit">
        </form>
